In [93]:
import pandas as pd

In [94]:
house=pd.read_csv(r"C:\Users\shish\OneDrive\Desktop\python code\machine learning project\home price prediction\Bengaluru_House_Data.csv")
house.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [95]:
house.shape

(13320, 9)

In [96]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [97]:
house.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [98]:
for i in house.columns:
    print(house[i].value_counts())

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: count, Length: 1305, dtype: int64
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64

In [150]:
house['size']=house['size'].str.get(0).astype(int)

C:\Users\shish\AppData\Local\Temp\ipykernel_17908\804447010.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['size']=house['size'].str.get(0).astype(int)

In [103]:
house.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [ ]:
house=house.drop(['area_type'	,'availability'	,'society','balcony'],axis=1)

In [105]:
house.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

In [106]:
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [107]:
house.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [108]:
house=house.dropna()

In [109]:
house.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [110]:
house.shape

(13246, 5)

In [111]:
house=house.reset_index(drop=True)

In [112]:
house

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13241                Whitefield  5 Bedroom       3453   4.0  231.00
13242             Richards Town      4 BHK       3600   5.0  400.00
13243     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13244           Padmanabhanagar      4 BHK       4689   4.0  488.00
13245              Doddathoguru      1 BHK        550   1.0   17.00

[13246 rows x 5 columns]

In [113]:
def changerange(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [114]:
house.total_sqft=house.total_sqft.apply(changerange)

In [115]:
house

                       location       size  total_sqft  bath   price
0      Electronic City Phase II      2 BHK      1056.0   2.0   39.07
1              Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00
2                   Uttarahalli      3 BHK      1440.0   2.0   62.00
3            Lingadheeranahalli      3 BHK      1521.0   3.0   95.00
4                      Kothanur      2 BHK      1200.0   2.0   51.00
...                         ...        ...         ...   ...     ...
13241                Whitefield  5 Bedroom      3453.0   4.0  231.00
13242             Richards Town      4 BHK      3600.0   5.0  400.00
13243     Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.00
13244           Padmanabhanagar      4 BHK      4689.0   4.0  488.00
13245              Doddathoguru      1 BHK       550.0   1.0   17.00

[13246 rows x 5 columns]

In [116]:
house['price_per_sqft']=(house['price']*100000)/house['total_sqft']

In [117]:
house

,location,size,total_sqft,bath,price,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.00,4250.000000
...,...,...,...,...,...,...
13241,Whitefield,5 Bedroom,3453.0,4.0,231.00,6689.834926
13242,Richards Town,4 BHK,3600.0,5.0,400.00,11111.111111
13243,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,5258.545136
13244,Padmanabhanagar,4 BHK,4689.0,4.0,488.00,10407.336319
13245,Doddathoguru,1 BHK,550.0,1.0,17.00,3090.909091

In [118]:
house.location=house.location.apply(lambda x:x.strip())
location_count=house.location.value_counts()

In [119]:
loaction_less_than_10=location_count[location_count<=10]
loaction_less_than_10

location
Naganathapura                     10
Sadashiva Nagar                   10
Nagappa Reddy Layout              10
BTM 1st Stage                     10
Sector 1 HSR Layout               10
                                  ..
Vasantapura main road              1
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
Abshot Layout                      1
Name: count, Length: 1052, dtype: int64

In [120]:
house['location']=house['location'].apply(lambda x: 'other' if x in loaction_less_than_10 else x)

In [121]:
house['location'].value_counts()

location
other                 2881
Whitefield             535
Sarjapur  Road         392
Electronic City        304
Kanakpura Road         266
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: count, Length: 242, dtype: int64

In [122]:
house.describe()

         total_sqft          bath         price  price_per_sqft
count  13200.000000  13246.000000  13246.000000    1.320000e+04
mean    1555.302783      2.692586    112.389392    7.920759e+03
std     1237.323445      1.341506    149.076587    1.067272e+05
min        1.000000      1.000000      8.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000    4.267701e+03
50%     1275.000000      2.000000     72.000000    5.438331e+03
75%     1672.000000      3.000000    120.000000    7.317073e+03
max    52272.000000     40.000000   3600.000000    1.200000e+07

In [123]:
house[house.total_sqft<300]

                 location       size  total_sqft  bath   price  price_per_sqft
117           Hennur Road  2 Bedroom       276.0   3.0   23.00    8.333333e+03
345                 other  3 Bedroom        11.0   3.0   74.00    6.727273e+05
1010                other      1 BHK        15.0   1.0   30.00    2.000000e+05
1112                other  5 Bedroom        24.0   2.0  150.00    6.250000e+05
2468          Bhoganhalli       1 RK       296.0   1.0   22.89    7.733108e+03
4058       Sarjapur  Road  4 Bedroom         1.0   4.0  120.00    1.200000e+07
4940                other      7 BHK         5.0   7.0  115.00    2.300000e+06
5932          Mysore Road  1 Bedroom        45.0   1.0   23.00    5.111111e+04
10462  Yelahanka New Town      1 BHK       284.0   1.0    8.00    2.816901e+03
11488          Whitefield  4 Bedroom        60.0   4.0  218.00    3.633333e+05
13143               other      1 BHK       250.0   2.0   40.00    1.600000e+04

In [124]:
house=house[house.bath<15]

In [125]:
house=house[house.total_sqft>300]

In [126]:
hosue=house[house.price_per_sqft<75000]

In [127]:
house.describe()

         total_sqft          bath         price  price_per_sqft
count  13182.000000  13182.000000  13182.000000    13182.000000
mean    1555.422526      2.682522    112.194406     6691.947913
std     1233.916455      1.259223    149.093338     4554.901158
min      302.000000      1.000000      9.000000      267.829813
25%     1100.000000      2.000000     50.000000     4266.666667
50%     1275.000000      2.000000     71.770000     5433.101240
75%     1672.000000      3.000000    120.000000     7308.979415
max    52272.000000     14.000000   3600.000000   176470.588235

In [135]:
max_thresold,min_thresold=house.price_per_sqft.quantile([0.9,0.1])

In [136]:
house=house[(house.price_per_sqft<max_thresold)&(house.price_per_sqft>min_thresold)]

In [137]:
house.shape

(8473, 6)

In [138]:
house

,location,size,total_sqft,bath,price,price_per_sqft
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.0,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,62.0,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.0,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,51.0,4250.000000
6,Old Airport Road,4 BHK,2732.0,4.0,204.0,7467.057101
...,...,...,...,...,...,...
13240,Green Glen Layout,3 BHK,1715.0,3.0,112.0,6530.612245
13241,Whitefield,5 Bedroom,3453.0,4.0,231.0,6689.834926
13242,other,4 BHK,3600.0,5.0,400.0,11111.111111
13243,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.0,5258.545136
13244,Padmanabhanagar,4 BHK,4689.0,4.0,488.0,10407.336319

In [139]:
max_thresold,min_thresold=house.price.quantile([0.999,0.1])
house=house[(house.price<max_thresold)&(house.price>min_thresold)]

In [ ]:
house.drop()

In [151]:
clean_house_data=house.copy()
clean_house_data.reset_index(drop=True)

                   location  size  total_sqft  bath   price  price_per_sqft
0          Chikka Tirupathi     4      2600.0   5.0  120.00     4615.384615
1               Uttarahalli     3      1440.0   2.0   62.00     4305.555556
2        Lingadheeranahalli     3      1521.0   3.0   95.00     6245.890861
3          Old Airport Road     4      2732.0   4.0  204.00     7467.057101
4              Marathahalli     3      1310.0   3.0   63.25     4828.244275
...                     ...   ...         ...   ...     ...             ...
7611      Green Glen Layout     3      1715.0   3.0  112.00     6530.612245
7612             Whitefield     5      3453.0   4.0  231.00     6689.834926
7613                  other     4      3600.0   5.0  400.00    11111.111111
7614  Raja Rajeshwari Nagar     2      1141.0   2.0   60.00     5258.545136
7615        Padmanabhanagar     4      4689.0   4.0  488.00    10407.336319

[7616 rows x 6 columns]

In [154]:
clean_house_data.drop('price_per_sqft',axis=1,inplace=True)

In [155]:
clean_house_data.describe()

              size    total_sqft         bath        price
count  7616.000000   7616.000000  7616.000000  7616.000000
mean      2.906644   1681.852719     2.832589   114.445959
std       1.014577    814.187376     1.139372    75.527964
min       1.000000    480.000000     1.000000    53.105000
25%       2.000000   1200.000000     2.000000    68.380000
50%       3.000000   1447.000000     3.000000    89.000000
75%       3.000000   1820.000000     3.000000   130.000000
max       9.000000  12000.000000    13.000000   720.000000

In [156]:
clean_house_data.to_csv("clean_house_data.csv")

In [157]:
X=clean_house_data.drop('price',axis=1)

In [158]:
y=clean_house_data.price

In [159]:
X

                    location  size  total_sqft  bath
1           Chikka Tirupathi     4      2600.0   5.0
2                Uttarahalli     3      1440.0   2.0
3         Lingadheeranahalli     3      1521.0   3.0
6           Old Airport Road     4      2732.0   4.0
8               Marathahalli     3      1310.0   3.0
...                      ...   ...         ...   ...
13240      Green Glen Layout     3      1715.0   3.0
13241             Whitefield     5      3453.0   4.0
13242                  other     4      3600.0   5.0
13243  Raja Rajeshwari Nagar     2      1141.0   2.0
13244        Padmanabhanagar     4      4689.0   4.0

[7616 rows x 4 columns]

In [160]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [161]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [167]:
column_tranformer=make_column_transformer((OneHotEncoder(sparse_output=False),['location']),remainder='passthrough')

In [168]:
lr=LinearRegression()
scale=StandardScaler()

In [170]:
pipe=make_pipeline(column_tranformer,scale,lr)

In [171]:
pipe.fit(X_train,y_train)

C:\Users\shish\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1623: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [172]:
Y_pred=pipe.predict(X_test)

In [174]:
r2_score(y_test,Y_pred)

0.7641068955928083

In [175]:
pipe=make_pipeline(column_tranformer,scale,Lasso())
pipe.fit(X_train,y_train)
Y_pred=pipe.predict(X_test)
r2_score(y_test,Y_pred)

0.7599168996189536

In [176]:
pipe=make_pipeline(column_tranformer,scale,Ridge())
pipe.fit(X_train,y_train)
Y_pred=pipe.predict(X_test)
r2_score(y_test,Y_pred)

0.764111504291552

In [179]:
import pickle
pickle.dump(pipe,open('model.pkl','wb'))